<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create/Edit Task</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">{{ form.instance.id|yesno:"Edit Task,Create Task" }}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                <div class="notification is-danger">
                    <strong>Ошибка!</strong> Проверьте данные, которые вы ввели.
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>{{ field }}: {{ errors|join:", " }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <button class="button is-success" type="submit">Save</button>
        </form>
    </div>
</section>
</body>
</html>