{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Your Todos</h1>
<a href="{% url 'todo_create' %}" class="btn btn-primary">Create New Task</a>
<ul class="list-group mt-3">
    {% for todo in todos %}
        <li class="list-group-item">
            <strong>{{ todo.title }}</strong> - {{ todo.description }}
            <div class="float-right">
                <a href="{% url 'todo_edit' todo.id %}" class="btn btn-sm btn-info">Edit</a>
                <a href="javascript:void(0);" onclick="deleteTodo({{ todo.id }})" class="btn btn-sm btn-danger">Delete</a>
            </div>
        </li>
    {% endfor %}
</ul>
<script src="{% static 'tasks/js/main.js' %}"></script>
{% endblock %}